useDynLib(ordinalClust)
export("bosclassif","bosclust","boscoclust","predict","pejSim","plot")
importFrom(Rcpp, evalCpp)
importFrom("graphics", "plot") 
importFrom("grDevices", "gray")
importFrom("graphics", "abline", "image", "legend", "par")